<template>
  <v-app id="inspire">
    <app-bar></app-bar>
    <app-drawer></app-drawer>
    <v-main>
      <!-- <v-container class="fill-height" fluid> -->
      <router-view></router-view>
      <!-- <v-row align="center" justify="center">
          <v-col class="shrink">
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-btn :href="source" icon large target="_blank" v-on="on">
                  <v-icon large>mdi-code-tags</v-icon>
                </v-btn>
              </template>
              <span>Source</span>
            </v-tooltip>
          </v-col>
        </v-row>
      <app-meals></app-meals>-->
    </v-main>
    <app-footer></app-footer>
  </v-app>
</template>

<script>
import appBar from "./components/AppBar.vue";
import appFooter from "./components/Footer.vue";
import appDrawer from "./components/Drawer.vue";
// import appMeals from "./components/Meals.vue";
export default {
  components: {
    appBar,
    appDrawer,
    appFooter,
    // appMeals,
  },
  props: {
    source: String,
  },
  data: () => ({
    drawer: null,
  }),
  created() {
    this.$vuetify.theme.dark = true;
  },
};
</script>