<template>
  <v-navigation-drawer v-if="getDrawerOpen" app clipped>
    <v-list dense>
      <v-list-item-group v-model="currentItem" mandatory>
        <v-list-item
          link
          v-for="entry in navigation"
          :key="entry.title"
          @click="navigate(entry.link)"
        >
          <v-list-item-action>
            <v-icon>{{ 'mdi-' + entry.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ entry.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      navigation: [
        {
          icon: "home",
          title: "Home",
          link: "/",
        },
        {
          icon: "food",
          title: "Meals",
          link: "/meals",
        },
      ],
      currentItem: 0,
    };
  },
  methods: {
    navigate(link) {
      if (link === this.$route.path) {
        return;
      }
      this.$router.push(link);
    },
  },
  computed: {
    ...mapGetters(["getDrawerOpen"]),
  },
};
</script>

<style>
</style>