<template>
  <v-container>
    <app-new-meal></app-new-meal>
    <v-row align="stretch" justify="start">
      <v-col cols="4" v-for="meal in meals" :key="meal.id">
        <v-card :title="meal.name">
          <v-card-title>{{ meal.name }}</v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import axios from "axios";
import appNewMeal from "./NewMeal";
import { mapGetters } from "vuex";
export default {
  components: {
    appNewMeal,
  },
  computed: {
    ...mapGetters({ meals: "getMeals" }),
  },
  mounted() {
    this.$store.dispatch("reloadMeals");
  },
};
</script>

<style>
</style>