<template>
  <v-dialog v-model="dialog" persistent width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn dark fab color="teal" v-bind="attrs" v-on="on">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
    <v-form v-model="valid">
      <v-card>
        <v-card-title>New Meal</v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  label="Name"
                  :rules="nameRules"
                  hide-details="auto"
                  v-model="name"
                  dark
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="teal" @click="cancel">Cancel</v-btn>
          <v-btn color="teal" :disabled="!valid" @click="save">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dialog: false,
      name: "",
      nameRules: [(v) => !!v || "Name is required"],
      valid: false,
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
      this.name = "";
      return;
    },
    save() {
      if (this.valid) {
        axios
          .post("http://localhost:8000/meals", {
            name: this.name,
          })
          .then((response) => {
            console.log(response);
            this.$store.dispatch("reloadMeals");
          })
          .catch((error) => {
            console.error(error);
          });
        this.closeDialog();
      }

      return;
    },
    cancel() {
      this.closeDialog();
      return;
    },
  },
};
</script>

<style>
</style>